name: CI CD
on: [push]
jobs:
  CICD:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: ls
        run: |
          ls
          cd node1

      - id: "auth"
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: Set up gcloud Cloud SDK environment
        uses: google-github-actions/setup-gcloud@v0.6.0
      - name: "Use gcloud CLI"
        run: "gcloud info"
      - name: deploy
        run: |
          ls
          gcloud app deploy
